.role-manage-wrap {
    .my-breadcrumb {
        height: 50px;
        line-height: 50px;
        background: #fff;
        padding-left: 20px;
        border-bottom: 1px solid #ccc;
    }
    .role-manage-content {
        min-height: 80vh;
    }
}