.role-manage-wrap {
    padding: 0 20px;
    .role-manage-content {
        min-height: 80vh;
        .item-top-wrap {
            height: 110px;
            width: 100%;
            background: #fff;
            border-radius: 8px;
            margin-top: 10px;
            padding: 10px;
            margin-bottom: 10px;
            h3 {
                margin-bottom: 32px;
                font-family: 'PingFangSC-Medium';
                font-size: 16px;
                color: #3D85FF;
                letter-spacing: 0.26px;
            }
            .item-top-b {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                .ant-btn-primary {
                    border-radius: 30px;
                    background-image: linear-gradient(-180deg, #70B8FF 0%, #3D82FF 100%);
                    border: none;
                    background-color: none;
                    box-shadow: none;
                    text-shadow: none;
                }
               >i {
                    color: #D8D8D8;
                    font-size: 24px;
                }
            }
        }
        .role-manage-con-wrap {
            min-height: 70vh;
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            .left {
                width: 240px;
                overflow: hidden;
                margin-right: 10px;
                border-radius: 8px;
                position: relative;
                background: #fff;
                .top {
                    padding: 0 15px;
                    height: 50px;
                    line-height: 50px;
                    display: flex;
                    justify-content: space-between;
                    span {
                        cursor: pointer;
                        font-family: 'PingFangSC-Medium';
                        font-size: 16px;
                        color: #3D85FF;
                    }
                }
                .role-list {
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    li {
                        list-style: none;
                        padding: 10px 0 10px 20px;
                        font-size: 14px;
                        border: 1px solid #F7F7F7;
                    }
                }
            }
            .right {
                flex-grow: 1;
                background: #fff;
                border-radius: 8px;
                .top {
                    width: 100%;
                    height: 50px;
                    line-height: 50px;
                    padding-left: 20px;
                    font-family: 'PingFangSC-Medium';
                    font-size: 16px;
                    color: #3D85FF;
                }
            }
        }
    }
}