.command-dispathc-wrap {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #fff;
    height: 100%;
    overflow: hidden;
    .account-loca {
        height: 30px;
        width: 30px;
        line-height: 30px;
        text-align: center;
        background: red;
        border-radius: 50%;
        color: #fff;
        position: relative;
        top: -30px;
        >span {
            position: absolute;
            top: 25px;
            left: 7px;
            border-top: 20px solid red;
            border-bottom: 8px solid transparent;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
        }
    }
    .device-list-wrap {
      position: absolute;
      right: 0;
      top: 0;
      width: 300px;
      height: 100%;
      background: #001528;
      color: #fff;
      z-index: 10;
      h2 {
          color: #C6CBCF;
          margin-bottom: 0px;
          padding: 10px 0;
          text-indent: 20px;
      }
      .context-wrap {
            >h3 {
                margin-top: 10vh;
                color: #C6CBCF;
                margin-bottom: 0px;
                padding: 10px 0;
                text-align: center;
            }
            >p {
                color: #C6CBCF;
                margin-top: 20px;
                font-size: 14px;
                text-align: center;
            }
            .player-area {
                width: 300px;
                height: 300px;
                background: #001528;
                position: relative;
                .player {
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 100px;
                    height: 100px;
                    z-index: 100;
                }
                .player1 {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 99;
                }
            }
            .btn-wrap {
                margin-top: 50px;
                text-align: center;
                >span {
                    display: inline-block;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    line-height: 50px;
                    background: red;
                    i {
                        font-size: 18px;
                    }
                }
                >p {
                    margin-top: 15px;
                }
            }
      }
      .deviceList {
          list-style: none;
          margin: 0;
          padding: 0;
          overflow-y: scroll;
          overflow-x: hidden;
          max-height: 90%;
          li {
              list-style: none;
              padding: 20px;
            //   border-bottom: 1px solid #ccc;
              .name {
                  padding-bottom: 10px;
                  .name-circle {
                      display: inline-block;
                      width: 40px;
                      height: 40px;
                      border-radius: 50%;
                      background-color: #FF9900;
                      text-align: center;
                      line-height: 40px;
                      margin-right: 20px;
                  }
              }
                .detail {
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                    .no-talk {
                        color: #7E8285;
                    }
                    .button {
                        cursor: pointer;
                        i {
                            vertical-align: middle;
                            margin-right: 10px;
                        }
                    }
                    .button:hover {
                        color: #3266FF;
                    }
                }
            }
            .checked {
                background: #3266FF;
                color: #fff;
            }
        }
    }
    .command-dispathc-left {
        position: absolute;
        left: 0;
        top: 0;
        width: 450px;
        height: 100%;
        background: #001528;
        color: #fff;
        z-index: 10;
        .live-wrap {
            margin-bottom: 20px;
            .top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 20px;
                h3 {
                    color: #7E8285;
                    margin: 0;
                }
                span {
                    cursor: pointer;
                    font-size: 12px;
                    color: #7E8285;
                }
            }
            .live-content {
                min-height: 258px;
            }
        }
        .today-pro {
            .top {
                margin-bottom: 10px;
            }
            .ant-table-content {
                background-color: #fff;
                .ant-table-thead {
                    > tr {
                        > th {
                            border: 0;
                            background: #fff;
                        }
                    }
                } 
            }
            .ant-pagination {
                text-align: center;
                width: 100%;
                margin-top: 20px;
                background: #fff;
                margin-top: 0;
                padding: 10px 0;
                margin-bottom: 0;
            }
        }
    }
}