.logo-management-wrap {
    .my-breadcrumb {
        height: 50px;
        line-height: 50px;
        background: #fff;
        padding-left: 20px;
    }
    .logo-management-content {
        min-height: 80vh;
        h2 {
            margin: 30px 0 20px 0;
            padding-left: 20px;
        }
        .logo-management-main {
            margin: 0 20px;
            padding: 20px 60px;
            background: #fff;
            min-height: 70vh;
            .setting-logo {
                display: flex;
                .ant-upload {
                    width: 400px;
                    height: 180px;
                    margin-right: 50px;
                }
                .logo-position {
                    h3 {
                        margin-bottom: 20px;
                    }
                    >div {
                        span {
                            margin-right: 15px;
                            display: inline-block;
                            border: 1px solid #ccc;
                            padding: 2px 8px;
                            border-radius: 4px;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}