.menu-wrap .ant-menu-sub.ant-menu-inline > .ant-menu-item {
    text-indent: 1.5em;
}
.menu-wrap .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
    height: 50px;
    line-height: 50px;
}
.menu-wrap .ant-menu-inline .ant-menu-submenu {
    margin: 4px 0 8px 0;
}
.menu-wrap {
    height: 100%;
    position: absolute;
    width: 100%;
    .ant-menu {
        height: 100%;
    }
}
.menu-wrap, .menu-wrap .ant-menu {
    background-image: linear-gradient(-90deg, #3D82FF 6%, #4190FF 97%);
    padding-top: 7px;
}
.ant-layout-has-sider .ant-layout-sider-children {
    background-image: linear-gradient(-90deg, #3D82FF 6%, #4190FF 97%);
}
.ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background: none;
    box-shadow: none;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected {
    background: rgba(255, 255, 255, .4);
}