.slider-top-wrap {
    height: 120px;
    line-height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    img {
        width: 50px;
        height: 50px;
        display: block;
        margin-top: 20px;
    }
    .title {
        font-size: 20px;
        font-weight: 500;
        color: #fff;
        margin-left: 5px;
        line-height: 1.5;
    }
}