.live-list-wrap {
    padding: 0 20px;
    .item-top-wrap {
        height: 110px;
        width: 100%;
        background: #fff;
        border-radius: 8px;
        margin-top: 10px;
        padding: 10px;
        h3 {
            margin-bottom: 32px;
            font-family: 'PingFangSC-Medium';
            font-size: 16px;
            color: #3D85FF;
            letter-spacing: 0.26px;
        }
        .item-top-b {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            .ant-btn-primary {
                border-radius: 30px;
                background-image: linear-gradient(-180deg, #70B8FF 0%, #3D82FF 100%);
                border: none;
                background-color: none;
                box-shadow: none;
                text-shadow: none;
            }
            input {
                background: #F6F6F6;
                border-radius: 18.5px;
                border: 0;
            }
        }
    }
    .live-list-content {
        min-height: 80vh;
        .live-list-list-wrap {
            min-height: 65vh;
            .top {
                background: #f7f7f7;
                margin-top: 20px;
                padding-bottom: 15px;
                border-bottom: 1px solid #ccc;
                .right {
                    float: right;
                    .tabs-wrap {
                        display: inline-block;
                        padding-right: 10px;
                        .tabs-btn-item {
                            display: inline-block;
                            text-align: center;
                            padding: 3px 12px;
                            min-width: 50px;
                            font-size: 12px;
                            border: 1px solid #BEBDBD;
                            cursor: default;
                            -webkit-touch-callout: none;
                            -webkit-user-select: none; 
                            -moz-user-select: none;
                            border-radius: 18.5px;
                            user-select: none;
                            transition: all .2s ease-in;
                        }
                        .tabs-btn-choose {
                            color: #fff;
                            border: 0;
                            background-image: linear-gradient(-180deg, #70B8FF 0%, #3D82FF 100%);
                        }
                    }
                }
            }
            .list-content {
                list-style: none;
                margin: 0;
                margin-top: 30px;
                padding: 0;
                li {
                    list-style: none;
                    margin-bottom: 20px;
                    position: relative;
                    padding: 0 10px;
                    border-radius: 10px;
                    background: #fff;
                    >.list-item-detail {
                        height: 40px;
                        line-height: 40px;
                        border-bottom: 1px solid #EDEDED;
                        margin-bottom: 15px;
                        h3 {
                            margin: 0;
                            a {
                                color: #272727;
                                font-size: 14px;
                            }
                        }
                    }
                    .left-wrap {
                        float: left;
                        position: relative;
                        margin-bottom: 30px;
                        .img-wrap {
                            width: 250px;
                            height: 140px;
                            overflow: hidden;
                            img {
                                width: 100%;
                                height: 100%;
                                display: block;
                            }
                        }
                        .play-icon {
                            position: absolute;
                            width: 100px;
                            height: 100px;
                            top: 50%;
                            left: 50%;
                            line-height: 128px;
                            text-align: center;
                            transform: translate3d(-50%, -50%, 0);
                            // background-color: rgba(0,0,0,.3);
                            // border-radius: 3px;
                            .play-icon-content {
                                background: url('../../../static/img/playicon.png') no-repeat center center;
                                background-size: contain;
                                width: 40px;
                                height: 40px;
                                display: inline-block;
                            }
                        }
                        .tips-wrap {
                            position: absolute;
                            top: 0;
                            left: 0;
                            color: #fff;
                            font-size: 12px;
                            padding: 2px 3px;
                        }
                    }
                    .player-area {
                        width: 280px;
                        height: 150px;
                        video {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .right-wrap {
                        margin-left: 270px;
                        .list-item-detail {
                            line-height: 40px;
                            h3 {
                                margin: 0;
                            }
                            span {
                                display: inline-block;
                            }
                            .created-person {
                                display: block;
                                color: #BABCC7;
                                i {
                                    font-style: normal;
                                    color: #272727;
                                }
                            }
                            .live-time {
                                display: block;
                                color: #BABCC7; 
                                i {
                                    font-style: normal;
                                    color: #272727;
                                }
                            }
                        }
                        .item-device-list {
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            color: #BABCC7; 
                            i {
                                font-style: normal;
                                color: #272727;
                            }
                        }
                    }
                    .list-item-btn-wrap {
                        position: absolute;
                        right: 20px;
                        bottom: 10px;
                        span {
                            display: inline-block;
                            margin-right: 15px;
                            cursor: pointer;
                            color: #fff;
                            background: #3E86FF;
                            border-radius: 3px;
                            font-size: 12px;
                            padding: 3px 6px 2px 6px;
                            a {
                                color: #fff;
                                font-size: 12px;
                            }
                        }
                    }
                }
                .noData {
                    border: 0;
                    margin-top: 25vh;
                    font-size: 16px;
                    text-align: center;
                }
            }
            .ant-pagination  {
                text-align: center;
            }
        }
    }
    .modal-wrap {
        padding-left: 20px;
        .add-device-item {
            margin-bottom: 15px;
            >span {
                margin-right: 10px;
            }
            .add-tips {
                margin-left: 10px;
                font-size: 12px;
                color: #ccc;
            }
            .avatar-uploader {
                display: inline-block;
                vertical-align: middle;
                .ant-upload {
                    img {
                        width: 108px;
                        height: 108px;
                        display: inline-block;
                    }
                }
            }
        }
    }
    .add-drop-list {
        >div {
            height: 120px;
        }
    }
}
.my-spid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    visibility: hidden;
    transition: visibility .3s;
    .ant-spin {
        transform: translate3d(-50%, -50%, 0);
        position: absolute;
        left: 50%;
        top: 50%;
        opacity: 0;
    }
}
.my-spid-show {
    visibility: visible;
    .ant-spin {
        opacity: 1;
    }
}