.replay-list-wrap {
    .my-breadcrumb {
        height: 50px;
        line-height: 50px;
        background: #fff;
        padding-left: 20px;
    }
    .replay-list-content {
        padding-left: 20px;
        min-height: 80vh;
        margin-right: 20px;
        padding-top: 20px;
        .replay-list-top {
            background: #fff;
            padding: 10px 20px;
            h3 {
                float: left;
                margin: 0;
            }
            >div {
                float: right;
            }
        }
        .push-address {
            background: #fff;
            padding: 20px;
            span {
                font-size: 16px;
                font-weight: 500;
            }
        }
        .replay-list-table {
            background: #fff;
            padding-top: 50px;
            .ant-table-thead {
                >tr {
                    > th {
                        background: #fff;
                    }
                }
            }
            .ant-table-pagination {
                width: 100%;
                text-align: center;
            }
        }
    }
    .ant-modal-body {
        .player-area {
            video {
                width: 100%;
            }
        }
    }
}